/* styles.css */
body {
  font-family: "Open Sans", sans-serif;
  background-image: url(./images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  height: 100%;
  /* max-width: 1200px; */
  /* overflow: hidden; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cont-haddle {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 95%;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 55vh;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
} */

/* .ilustration img {
  width: 100%;
} */

.cont-tex {
  display: flex;
  flex-direction: row;
  color: white;
  box-sizing: border-box;
  margin: 0.5rem;
  width: 95%;
  max-width: 100%;
}

.cont-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* box-sizing: border-box; */
  /* overflow: hidden; */
}

.cont-image img {
  width: 100%;
  /* height: auto;
  object-fit: cover; */
  /* margin: 0; */
  /* object-fit: cover; */
  /* box-sizing: border-box; */
}

.cont-tex-hijo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  margin: 0;
  padding-left: 1.5rem;
  /* overflow: hidden; */
}

.cont-tex-hijo p {
  font-size: 1.5rem;
}

.cont-tex button {
  width: 180px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  color: hsl(257, 40%, 49%);
  font-size: large;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
.cont-tex button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

.social {
  display: flex;
  justify-content: end;
  gap: 10px;
  width: 100%;
  color: white;
  padding: 1rem;
  text-align: right;
  box-sizing: border-box;
  margin-top: auto;
  padding-right: 4rem;
}

.btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
}

.btn-social:hover {
  border: 1px solid hsl(300, 69%, 71%);
}

.btn-social i:hover {
  color: hsl(300, 69%, 71%);
}
/* Media Queries */
@media (max-width: 768px) {
  .container {
    /* height: auto; */
    padding: 0;
  }

  .cont-haddle img{
    max-width: 180px;
  }
  .cont-tex {
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 2rem 2rem;
  }

  .cont-haddle {
    margin-bottom: 0;
  }

  .cont-image {
    width: 95%;
  }

  .cont-tex-hijo {
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .social {
    justify-content: center;
    text-align: center;
    padding-right: 0;
  }

  .cont-tex-hijo p {
    font-size: 1.2rem;
    text-align: center;
  }
}
